<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
    <title>Add employee</title>
</head>
<body>
<div layout:fragment="content">

    <form action="#" th:action="@{/employees/add-employee}" th:object="${employee}" method="POST">
        <label for="email">Email:</label>
        <input type="text" id="email" th:field="*{email}">
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}">
        <label for="first-name">First name:</label>
        <input type="text" id="first-name" th:field="*{firstName}">
        <label for="last-name">Last name:</label>
        <input type="text" id="last-name" th:field="*{lastName}">
        <label for="phone-number">Phone number:</label>
        <input type="text" id="phone-number" th:field="*{phoneNumber}">
        <button type="submit">ADD</button>
    </form>

</div>
</body>
</html>