<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
    <title>Edit customer</title>
</head>
<body>
<div layout:fragment="content">

    <h1>Add customer</h1>

    <div th:if="${fromTicket == true}">

        <form action="#" th:action="@{/devices/add}" th:object="${customer}" method="POST">
            <label for="email-t">Email: </label>
            <input type="text" id="email-t" th:field="*{email}"><br>
            <label for="password-t">Password: </label>
            <input type="password" id="password-t" th:field="*{password}"><br>
            <label for="first-name-t">First name: </label>
            <input type="text" id="first-name-t" th:field="*{firstName}"><br>
            <label for="last-name-t">Last name: </label>
            <input type="text" id="last-name-t" th:field="*{lastName}"><br>
            <label for="phone-number-t">Phone number: </label>
            <input type="text" id="phone-number-t" th:field="*{phoneNumber}"><br>

            <input type="hidden" name="id" th:value="${customer.id}">
            <button type="submit">SAVE AND CONTINUE</button>
        </form>

    </div>

    <div th:if="${fromTicket == false}">

        <form action="#" th:action="@{/customers/edit-customer}" th:object="${customer}" method="POST">
            <label for="email">Email: </label>
            <input type="text" id="email" th:field="*{email}"><br>
            <label for="password">Password: </label>
            <input type="password" id="password" th:field="*{password}"><br>
            <label for="first-name">First name: </label>
            <input type="text" id="first-name" th:field="*{firstName}"><br>
            <label for="last-name">Last name: </label>
            <input type="text" id="last-name" th:field="*{lastName}"><br>
            <label for="phone-number">Phone number: </label>
            <input type="text" id="phone-number" th:field="*{phoneNumber}"><br>

            <input type="hidden" name="id" th:value="${customer.id}">
            <button type="submit">SAVE</button>
        </form>
    </div>

</div>
</body>
</html>