<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
    <title>Employees</title>
</head>
<body>
<div layout:fragment="content">
    <form action="#" th:action="@{/employees/add}">
    <button type="submit">ADD EMPLOYEE</button>
    </form>

    <table border="1px">
        <tr>
            <th>Lp.</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Actions</th>
            <th>Status</th>
        </tr>
        <tr th:each="employee, stat : ${employees}">
            <td th:text="${stat.count}"></td>
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.phoneNumber}"></td>
            <td>
                <div th:if="${employee.status.toString().equals('ENABLED')}">
                    <form action="#" th:action="@{/employees/change}" th:object="${employee}" method="POST">
                        <input type="hidden" th:value="${employee.id}" name="id">
                        <button name="changeStatus" type="submit">DISABLE</button>
                    </form>
                </div>
                <div th:if="${employee.status.toString().equals('DISABLED')}">
                    <form action="#" th:action="@{/employees/change}" th:object="${employee}" method="POST">
                        <input type="hidden" th:value="${employee.id}" name="id">
                        <button name="changeStatus" type="submit">ENABLE</button>
                    </form>
                </div>
                <form action="#" th:action="@{/employees/delete}" th:object="${employee}" method="POST">
                    <input type="hidden" th:value="${employee.id}" name="id">
                    <button name="delete" type="submit">DELETE</button>
                </form>
            </td>
            <td th:text="${employee.status}"></td>
        </tr>
    </table>

</div>
</body>
</html>