<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
    <title>Find customer</title>
</head>
<body>
<div layout:fragment="content">

    <h1>Customers list</h1>


    <form action="#" th:action="@{/customers/add}">
        <button type="submit">ADD CUSTOMER</button>
    </form>

    <table border="1px">
        <tr>
            <th>Lp.</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Status</th>
            <th colspan="2">Actions</th>
        </tr>
        <tr th:each="customer, stat : ${customers}">
            <td th:text="${stat.count}"></td>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.phoneNumber}"></td>
            <td th:text="${customer.status}"></td>
            <td>
                <form action="#" th:action="@{/devices/add}" th:object="${customer}" method="POST">
                    <input type="hidden" name="status" th:value="${customer.status}">
                    <input type="hidden" name="id" th:value="${customer.id}">
                    <button type="submit">SELECT</button>
                </form>
            </td>
            <td>
                <form action="#" th:action="@{/customers/edit}" th:object="${customer}" method="POST">
                    <input type="hidden" name="fromTicket" th:value="${true}">
                    <input type="hidden" name="id" th:value="${customer.id}">
                    <button type="submit">EDIT</button>
                </form>
            </td>
        </tr>
    </table>

</div>
</body>
</html>