<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
    <title>Tickets</title>
</head>
<body>
<div layout:fragment="content">

    <h1>Tickets list</h1>

    <form action="#" th:action="@{/devices/add}">
        <button type="submit">ADD TICKET</button>
    </form>

    <table border="1px">
        <tr>
            <th>Lp.</th>
            <th>Date</th>
            <th>Date repair</th>
            <th>Type</th>
            <th>Status</th>
            <th>Estimated cost</th>
            <th>Device serial number</th>
            <th>Employee email</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        <tr th:each="ticket, stat : ${tickets}">
            <td th:text="${stat.count}"></td>
            <td th:text="${ticket.startDate}"></td>
            <td th:text="${ticket.repairDate}"></td>
            <td th:text="${ticket.type}"></td>
            <td th:text="${ticket.status}"></td>
            <td th:text="${ticket.estimatedCost}"></td>
            <td th:text="${ticket.device.serialNumber}"></td>
            <td th:text="${ticket.user.email}"></td>
            <td th:text="${ticket.description}"></td>
            <td>
                <form action="#" th:action="@{|/ticket/${ticket.id}|}">
                    <button type="submit">EDIT</button>
                </form>
            </td>
        </tr>
    </table>

</div>
</body>
</html>